body, .body {
  font-family: BrandonGrotesque-Regular;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

h1, .h1 {
  font-family: BrandonGrotesque-Medium;
  font-size: 18px;
  margin: 0px;
  font-weight: normal;
}

h2, .h2 {
  font-family: BrandonGrotesque-Regular;
  font-size: 18px;
  margin: 0px;
  font-weight: normal;
}

h3, .h3 {
  font-family: BrandonGrotesque-Medium;
  font-size: 16px;
  margin: 0px;
  font-weight: normal;
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 20px;
}

a[href] {
  color: #05647C;
  cursor: pointer;
  text-decoration: none;
}

a[href]:hover {
  color: #05647C;
  text-decoration: underline;
}

.sub {
  color: #999;
}

.btn {
  cursor: pointer;
  opacity: .9;
}

.btn:hover {
  opacity: 1;
}

.pull-right {
  float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
