body, .body {
  font-family: BrandonGrotesque-Regular;
  font-size: 16px;
  line-height: 17px;
  margin: 0px;
  padding: 0px;
}

h1, .h1 {
  font-family: BrandonGrotesque-Medium;
  font-size: 18px;
  line-height: 19px;
  margin: 0px;
  font-weight: normal;
}

h2, .h2 {
  font-family: BrandonGrotesque-Regular;
  font-size: 18px;
  line-height: 19px;
  margin: 0px;
  font-weight: normal;
}

h3, .h3 {
  font-family: BrandonGrotesque-Medium;
  font-size: 16px;
  line-height: 17px;
  margin: 0px;
  font-weight: normal;
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 20px;
}

a[href] {
  color: #05647C;
  cursor: pointer;
  text-decoration: none;
}

a[href]:hover {
  color: #05647C;
  text-decoration: underline;
}

.sub {
  color: #999;
}

.btn {
  cursor: pointer;
  opacity: .9;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 3px 0px 0px;
  /* box-shadow inherits color attribute from element */
}

.btn:hover {
  opacity: 1;
  box-shadow: 0px 3px 2px 0px;
}

.btn:active {
  top: 2px;
  box-shadow: 0px 1px 0px 0px;
}

.btn-text {
  cursor: pointer;
  opacity: .9;
  position: relative;
  text-shadow: 0px 2px 0px #767676;
}

.btn-text:hover {
  opacity: 1;
  text-shadow: 0px 2px 2px #767676;
}

.btn-text:active {
  top: 1px;
  text-shadow: 0px 1px 0px #767676;
}

.btn.disabled {
  cursor: not-allowed;
  opacity: 1;
  box-shadow: 0px 3px 0px 0px;
  background-color: #999;
  color: #494949;
}

.btn.disabled:active {
  top: 0px;
}

.pull-right {
  float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
