.titlebar {
  width: 100%;
  height: 32px;
  background-color: #1CA5C9;
  -webkit-app-region: drag;
  cursor: move;
  position: absolute;
}

.titlebar-center {
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* large enough to fit most items */
  text-align: center; /* then center children within that 100px space */
}

.titlebar-icon {
  height: 24px;
  margin-top: 4px;
}

.titlebar-recording {
  height: 24px;
  margin: 4px;
  padding: 0px 10px;
  text-align: center;
}

.titlebar-recording-icon {
  display: inline-block;
  border-radius: 4px;
  height: 8px;
  width: 8px;
  background-color: #FFF;
}

.titlebar-recording-text {
  display: inline-block;
  color: #FFF;
  line-height: 24px;
  font-size: 14px;
}

.titlebar-recording.on {
  background-color: #F69526;
}

.titlebar-recording.off {
  background-color: #999;
}

.titlebar-recording.on .off {
  display: none;
}

.titlebar-recording.off .on {
  display: none;
}

.titlebar-buttons {
  -webkit-app-region: no-drag;
  margin: 0px 4px;
  width: 44px;
}

.titlebar-buttons div {
  display: inline-block;
  width: 20px;
  text-align: center;
  line-height: 32px;
  color: #FFF;
  font-size: 18px;
}

.content {
  margin-top: 32px;
}

.content > div {
  padding: 10px 10px 10px 10px;
}

.btn-delighted,
.btn-confused {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.btn-delighted {
  content: url('/images/face_delight.svg');
  background: #1CC67D;
  display: inline-block;
}

.btn-confused {
  content: url('/images/face_bummer.svg');
  background: #F57340;
}

.btn-start, .btn-next, .btn-finish {
  background-color: #05647C;
  color: #FFF;
  display: inline-block;
  padding: 4px 10px;
}

#div-start p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#div-start ul {
  margin-top: -10px;
  padding-left: 0;
  list-style: none;
}

#div-start li i {
  margin-left: 5px;
  margin-right: 10px;
}

#div-start .btn-delighted,
#div-start .btn-confused {
  width: 18px;
  height: 18px;
  margin: 0px 3px -3px 3px;
  opacity: .75;
}

#div-start .btn-next {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0px 3px;
  opacity: .75;
}

#div-start.started .ctn-get-started {
  display: none;
}

#div-start.started .ctn-already-started {
  display: block;
}

.ctn-mic-check {
  margin-top: 20px;
}

.mic-check {
  margin-right: 10px;
}

.ctn-mic-check i {
  color: #05647C;
  font-size: 18px;
}

.mic-level {
  background-color: #999;
  height: 15px;
  width: 6px;
  border-radius: 3px;
  display: inline-block;
}

.mic-level.on {
  background-color: #05647C;
}

.ctn-already-started {
  display: none;
  border-top: 1px solid #E3E3E3;
  margin: 20px;
}

.ctn-get-started h1 {
  margin-top: 10px;
  line-height: 30px;
}

#div-step {
  position: relative;
  min-height: 60px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 80px;
}

#div-step .btn-delighted {
  position: absolute;
  top: 0px;
  right: 40px;
  height: 30px;
  width: 30px;
  margin: 3px;
}

#div-step .btn-confused {
  position: absolute;
  top: 33px;
  right: 40px;
  height: 30px;
  width: 30px;
  margin: 3px;
}

#div-step .btn-next {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  padding: 0px 0px 0px 0px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#div-finish p {
  line-height: 30px;
}
