.titlebar {
  width: 100%;
  height: 32px;
  background-color: #1CA5C9;
  -webkit-app-region: drag;
  cursor: move;
  position: absolute;
}

.titlebar-center {
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* large enough to fit most items */
  text-align: center; /* then center children within that 100px space */
}

.titlebar-icon {
  height: 24px;
  margin-top: 4px;
}

.titlebar-recording {
  height: 24px;
  margin: 4px;
  padding: 0px 10px;
  text-align: center;
}

.titlebar-recording-text {
  float: left;
  color: #FFF;
  line-height: 24px;
  font-size: 14px;
}

.titlebar-recording-icon {
  float: left;
  margin-left: 5px;
}

.titlebar-recording-icon i {
  color: #FFF;
  line-height: 24px;
  font-size: 16px;
}

.titlebar-recording-level {
  float: left;
  margin-left: 5px;
  margin-top: 2px;
  transform: rotate(180deg); /* so we can jQuery select in natural order */
}

.titlebar-recording-level div {
  background-color: #999;
  width: 10px;
  height: 3px;
  border-radius: 3px;
  margin: 1px;
}

.titlebar-recording-level .on {
  background-color: #FFF;
}

.titlebar-recording.on {
  background-color: #F69526;
}

.titlebar-recording.off {
  background-color: #999;
}

.titlebar-recording.on .off {
  display: none;
}

.titlebar-recording.off .on {
  display: none;
}

.titlebar-buttons {
  -webkit-app-region: no-drag;
  margin: 0px 4px;
  width: 44px;
}

.titlebar-buttons div {
  display: inline-block;
  width: 20px;
  text-align: center;
  line-height: 32px;
  color: #FFF;
  font-size: 18px;
}

.content {
  margin-top: 32px;
}

#div-start {
  padding: 20px;
}

#div-step {
  padding: 10px;
}

#div-finish {
  padding: 20px;
}

.btn-delighted,
.btn-confused {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.btn-delighted {
  content: url('/images/face_delight.svg');
  background: #1CC67D;
  display: inline-block;
}

.btn-confused {
  content: url('/images/face_bummer.svg');
  background: #F57340;
}

.btn-start, .btn-next, .btn-finish {
  background-color: #05647C;
  color: #FFF;
  display: inline-block;
  padding: 4px 10px 0px 10px;
  box-shadow: 0px 3px 0px 0px #013E4C;
  border-radius: 4px;
  position: relative;
  font-family: BrandonGrotesque-Regular;
  font-size: 16px;
}

.btn-start:hover, .btn-next:hover, .btn-finish:hover {
  box-shadow: 0px 3px 2px 0px #013E4C;
}

.btn-start:active, .btn-next:active, .btn-finish:active {
  top: 2px;
  box-shadow: 0px 1px 0px 0px #013E4C;
}

.ctn-tips {
  padding: 10px;
  border: 2px solid #999;;
  margin: 15px;
  list-style: none;
}

.ctn-tips li i {
  margin-left: 5px;
  margin-right: 10px;
}

.ctn-mic-check {
  margin-top: 30px;
}

.ctn-mic-check i {
  color: #05647C;
  font-size: 18px;
  margin-top: -10px;
}

.mic-check {
  margin-left: 5px;
  width: 90%;
}

.mic-check div {
  background-color: #D8D8D8;
  height: 5px;
  width: 1%;
  float: left;
}

.mic-check .on {
  /*background-color: #1CA5C9;*/
  background-color: #1CC67D;
}

.mic-check.color-confused .on {
  background-color: #F57340;
}

.mic-check-low, .mic-check-high {
  font-size: 12px;
  margin-top: -27px;
  float: left;
}

.mic-check-low {
  margin-left: 10%;
}

.mic-check-high {
  margin-left: 50%;
}

.mic-check-marker {
  margin-left: 50%;
  height: 10px;
  width: 3px;
  background-color: #05647C; /* default green */
}

.ctn-get-started {
  margin-top: 20px;
}

#div-mic-check-text {
  line-height: 30px; /* to center vertically with button */
  color: #05647C;
}

#div-mic-check-text.color-delighted {
  color: #1CC67D;
}

#div-mic-check-text.color-confused {
  color: #F57340;
}

#div-step {
  position: relative;
  min-height: 60px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 80px;
}

#div-step .btn-delighted {
  position: absolute;
  top: 0px;
  right: 40px;
  height: 30px;
  width: 30px;
  margin: 3px;
}

#div-step .btn-confused {
  position: absolute;
  top: 33px;
  right: 40px;
  height: 30px;
  width: 30px;
  margin: 3px;
}

#div-step .btn-next {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  padding: 0px 0px 0px 0px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#div-step-of-text {
  display: inline;
}

#div-description {
  display: inline;
}

#div-finish p {
  line-height: 30px;
}
