#div-start {
  padding: 5px;
  background-color: #767676;
}

.tooltip {
  background-color: #fff;

  position: relative;
  display: inline-block;
  position: absolute;
  margin-left: 6px;
  width: 159px;
  padding: 5px;
  line-height: 16px;
  font-size: 16px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .8);
}

.tooltip-arrow {
  height: 0px;
  width: 0px;
  border-color: transparent;
  border-style: solid;
  border-right-color: #fff;
  border-width: 5px 5px 5px 0px;

  position: absolute;
  margin-left: -10px;
  top: 50%;
  margin-top: -5px;
}

.ctn-btn-delighted {
  position: relative;
  margin-bottom: 10px;
}

.ctn-btn-confused {
  position: relative;
}

.ctn-now-recording {
  color: #fff;
  margin: 5px;
  width: 150px;
}

#btn-first-step {
  margin-top: -30px;
}

.shadow-hover {
  z-index: 200;
}

.shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: .25;
  left: 0;
  top: 0px;
  z-index: 100;
  display: none;
}

.shadow-dark {
  opacity: .5;
}

.tooltip-hover {
  opacity: 0;
}

.tooltip-click {
  opacity: 0;
}

#div-start svg {
  position: absolute;
  top: -25px;
  right: 0px;
}

#alert-start {
  position: absolute;
  display: none; /* to be modified with .fadeIn() */
  border: 5px solid #F69526;
  opacity: .95;
}
