#div-start {
  padding: 20px;
  /*background-color: #767676;*/
}

.tooltip {
  background-color: #fff;

  position: relative;
  display: inline-block;
  position: absolute;
  margin-left: 6px;
  width: 159px;
  padding: 5px;
  line-height: 16px;
  font-size: 16px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .8);
}

.tooltip-arrow {
  height: 0px;
  width: 0px;
  border-color: transparent;
  border-style: solid;
  border-right-color: #fff;
  border-width: 5px 5px 5px 0px;

  position: absolute;
  margin-left: -10px;
  top: 50%;
  margin-top: -5px;
}

.ctn-btn-delighted {
  position: relative;
  margin-bottom: 10px;
}

.ctn-btn-confused {
  position: relative;
}

.ctn-now-recording {
  margin-top: -10px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #F69526;
  background-color: rgba(246, 149, 38, 0.75); /* .75 of border color */
  color: #FFF;
}

.ctn-start-left {
  font-size: 18px;
  width: 60%;
  float: left;
}

.ctn-start-left .ctn-tips {
  margin: 0px;
}

.ctn-start-left li + li {
  margin-top: 10px;
}

.ctn-start-right {
  width: 40%;
  float: right;
  text-align: center;
}

.ctn-start-right img {
  height: 104px; /* height of the ul to the left */
}

.ctn-start-mid {
  margin: 30px 0px;
}

.ctn-start-buttons {
  text-align: center;
}

#btn-first-step {
  padding: 10px 26px 6px;
}

.shadow-hover {
  z-index: 200;
}

.shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: .25;
  left: 0;
  top: 0px;
  z-index: 100;
  display: none;
}

.shadow-dark {
  opacity: .5;
}

.tooltip-hover {
  opacity: 0;
}

.tooltip-click {
  opacity: 0;
}

#div-start svg {
  position: absolute;
  top: -25px;
  right: 0px;
}

#alert-start {
  position: absolute;
  display: none; /* to be modified with .fadeIn() */
  border: 5px solid #F69526;
  opacity: .95;
}
