#div-instructions {
  padding: 20px;
}

.ctn-tips {
  padding: 10px;
  border: 2px solid #999;;
  margin: 15px;
  list-style: none;
}

.ctn-tips li i {
  margin-left: 5px;
  margin-right: 10px;
}

.ctn-mic-check {
  margin-top: 30px;
}

.ctn-mic-check i {
  color: #05647C;
  font-size: 18px;
  margin-top: -10px;
}

.mic-check {
  margin-left: 5px;
  width: 90%;
}

.mic-check div {
  background-color: #D8D8D8;
  height: 5px;
  width: 1%;
  float: left;
}

.mic-check .on {
  /*background-color: #1CA5C9;*/
  background-color: #1CC67D;
}

.mic-check.color-confused .on {
  background-color: #F57340;
}

.mic-check-low, .mic-check-high {
  font-size: 12px;
  margin-top: -27px;
  float: left;
}

.mic-check-low {
  margin-left: 10%;
}

.mic-check-high {
  margin-left: 50%;
}

.mic-check-marker {
  margin-left: 50%;
  height: 10px;
  width: 3px;
  background-color: #05647C; /* default green */
}

.ctn-get-started {
  margin-top: 15px;
}

#div-mic-check-text {
  line-height: 32px; /* to center vertically with button */
  color: #05647C;
}

#div-mic-check-text.color-delighted {
  color: #1CC67D;
}

#div-mic-check-text.color-confused {
  color: #F57340;
}
