#div-abort, #div-aborted {
  display: none; /* to be replaced with display: flex */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #383838;
  color: #FFF;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#div-abort {
  opacity: .95;
}

#div-aborted {
  opacity: 1;
}
