#div-step {
  padding: 5px;
}

.ctn-btn-feelings {
  position: absolute;
  width: 100%;
}

.ctn-btn-next {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  height: auto;
}

#btn-next {
  height: 100%;
  max-height: 90px;
  width: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctn-description {
  position: relative;
  margin-left: 45px;
  margin-right: 45px;
  height: 100%;
  overflow-y: auto;
  padding-top: 1px; /* a pixel gets cut off because we hide overflow */
}

.ctn-description > :last-child {
  padding-bottom: 10px; /* a little spacing for when we scroll */
}

#div-step-of-text {
  display: inline;
}

#div-description {
  display: inline;
}

@media (max-height: 120px) {
  #div-step .ctn-btn-delighted {
    position: absolute;
    width: 100%;
  }

  #div-step .ctn-btn-confused {
    position: absolute;
    width: 100%;
    left: 45px;
  }

  #div-step .ctn-description {
    margin-left: 90px;
  }

}
